# Перечисленные ниже варианты используются для обеспечения безопасности
# в директориях загрузки. По умолчанию эти опции закомментированы
# в целях обеспечения полной совместимости со всеми хостингами
# если вы уверены, что данные опции на вашем хостинге работают, снимите 
# знаки комментариев с нужного варианта

# Первый вариант запрета выполнения php
# php_flag engine 0
# AddType "text/html" .php .cgi .pl .fcgi .fpl .phtml .shtml .php2 .php3 .php4 .php5 .asp .jsp
# RemoveType php

# Второй вариант запрета выполнения php
# используйте его, если при первом варианте картинки из директорий не отображаются
RemoveHandler .phtml .php .php3 .php4 .php5 .php6 .phps .cgi .exe .pl .asp .aspx .shtml .shtm .fcgi .fpl .jsp .htm .html .wml
AddType application/x-httpd-php-source .phtml .php .php3 .php4 .php5 .php6 .phps .cgi .pl .asp .aspx .shtml .shtm .fcgi .fpl .jsp .htm .html .wml
